.skills_container {
    text-align: center;
}
.contaier_cards {
    margin:0px auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem;

    .card {
        background-color: #2a3049;
        top: 50%;
        left: 50%;
        margin-right: 1rem;
        margin-bottom: 1rem;
        min-width: 75px;
        min-height: 30px;
        max-height: 95px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .icons {
            font-size: 2rem;
            padding: 3px;
        }
    }
   /*  .card:hover {
       
        cursor: pointer;
    } */
}
